<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.pandabus.web.dao.EegDao">

	<select id="queryEegList" resultType="Eeg">
		SELECT
				b.id,
				p.patient_number AS patientNumber,
				p.patient_name AS patientName,
				p.hospital_number AS hospitalNumber,
				dt.disease_type AS diseaseType,
				p.diagnose,
		   	b.eeg_record AS eegRecord,
		   	b.eeg_detail AS eegDetail,
		   	b.eeg_type AS eegType,
		   	b.have_sleep AS haveSleep,
		   	b.apply_doctor AS applyDoctor,
				DATE_FORMAT(b.gather_date, '%Y-%m-%d') AS gatherDate,
				DATE_FORMAT(b.create_date, '%Y-%m-%d') AS createDate,
				b.creater,
				DATE_FORMAT(b.update_date, '%Y-%m-%d') AS updateDate,
				b.updater,
				b.is_deleted AS isDeleted,
				b.status
		FROM eeg b LEFT JOIN patient_record p ON b.patient_number = p.id
						LEFT JOIN disease_type dt ON p.disease_type= dt.id
        <where>
        	<if test="patientGender != null">
            	AND p.patient_gender = #{patientGender}
        	</if>
        	<if test="diseaseType != null and diseaseType != ''">
            	AND p.disease_type = #{diseaseType}
        	</if>
					<if test="diagnose != null and diagnose != ''">
						AND p.diagnose LIKE '%' #{diagnose} '%'
					</if>
					<if test="gatherDate != null and gatherDate != ''">
						AND DATE_FORMAT(b.gather_date, '%Y-%m-%d') = #{gatherDate}
					</if>
					<if test="eegDetail != null and eegDetail != ''">
						AND b.eeg_detail LIKE '%' #{eegDetail} '%'
					</if>
					<if test="haveSleep != null">
						AND b.have_sleep = #{haveSleep}
					</if>
					<if test="birthday != null and birthday != ''">
						AND p.birthday = #{birthday}
					</if>
					<if test="dimensions != null">
						AND p.dimensions = #{dimensions}
					</if>
					<if test="patientNumber != null and patientNumber != ''">
						AND (p.patient_number LIKE '%' #{patientNumber} '%' OR p.hospital_number LIKE '%' #{patientNumber} '%')
					</if>
					<!--<if test="hospitalNumber != null and hospitalNumber != ''">-->
						<!--AND p.hospital_number LIKE '%' #{hospitalNumber} '%'-->
					<!--</if>-->
					<if test="isDeleted != null">
						AND b.is_deleted = #{isDeleted}
					</if>
        </where>
        ORDER BY b.create_date DESC
        <if test="rows > 0">
          	LIMIT #{page}, #{rows}
        </if>
	</select>
	
	<select id="queryEegListCount" parameterType="Eeg" resultType="int">
		SELECT
			COUNT(0)
        FROM eeg b LEFT JOIN patient_record p ON b.patient_number = p.id
					<where>
						<if test="patientGender != null">
							AND p.patient_gender = #{patientGender}
						</if>
						<if test="diseaseType != null and diseaseType != ''">
							AND p.disease_type = #{diseaseType}
						</if>
						<if test="diagnose != null and diagnose != ''">
							AND p.diagnose LIKE '%' #{diagnose} '%'
						</if>
						<if test="gatherDate != null and gatherDate != ''">
							AND DATE_FORMAT(b.gather_date, '%Y-%m-%d') = #{gatherDate}
						</if>
						<if test="eegDetail != null and eegDetail != ''">
							AND b.eeg_detail LIKE '%' #{eegDetail} '%'
						</if>
						<if test="haveSleep != null">
							AND b.have_sleep = #{haveSleep}
						</if>
						<if test="birthday != null and birthday != ''">
							AND p.birthday = #{birthday}
						</if>
						<if test="dimensions != null">
							AND p.dimensions = #{dimensions}
						</if>
						<if test="patientNumber != null and patientNumber != ''">
							AND (p.patient_number LIKE '%' #{patientNumber} '%' OR p.hospital_number LIKE '%' #{patientNumber} '%')
						</if>
						<!--<if test="hospitalNumber != null and hospitalNumber != ''">-->
							<!--AND p.hospital_number LIKE '%' #{hospitalNumber} '%'-->
						<!--</if>-->
						<if test="isDeleted != null">
							AND b.is_deleted = #{isDeleted}
						</if>
					</where>
	</select>
	
	<insert id="add" parameterType="Eeg">
		INSERT INTO eeg (`patient_number`,
							  eeg_record,
							  eeg_detail,
							  eeg_type,
							  have_sleep,
							  apply_doctor,
							  gather_date,
							  create_date,
							  creater,
							  is_deleted
					 ) VALUE (#{patientNumber},
							  #{eegRecord},
							  #{eegDetail},
							  #{eegType},
							  #{haveSleep},
							  #{applyDoctor},
							  #{gatherDate},
							  CURRENT_TIMESTAMP,
							  #{creater},
							  0
					 )
	</insert>
	
	<update id="update" parameterType="Eeg">
		UPDATE eeg SET patient_number = #{patientNumber},
							eeg_record = #{eegRecord},
							eeg_detail = #{eegDetail},
							eeg_type = #{eegType},
							have_sleep = #{haveSleep},
							apply_doctor = #{applyDoctor},
							gather_date = #{gatherDate},
							update_date = CURRENT_TIMESTAMP,
							updater = #{updater}
		WHERE id = #{id}
	</update>
	
	<select id="queryById" parameterType="long" resultType="Eeg">
		SELECT b.patient_number AS patientNumber,
		   	b.eeg_record AS eegRecord,
		   	b.eeg_detail AS eegDetail,
		   	b.eeg_type AS eegType,
		   	b.have_sleep AS haveSleep,
		   	b.apply_doctor AS applyDoctor,
				DATE_FORMAT(b.gather_date, '%Y-%m-%d') AS gatherDate,
				b.is_deleted AS isDeleted
		FROM eeg b
		WHERE id = #{id}
	</select>
	
	<delete id="delete" parameterType="long">
		DELETE FROM eeg
		WHERE id = #{id}
	</delete>

	<select id="queryAllCount" parameterType="String" resultType="int">
		SELECT
		COUNT(0) AS cnt
		FROM eeg
		<where>
			<if test="keyset != null and keyset != ''">
				AND eeg_detail LIKE '%' #{keyset} '%'
			</if>
		</where>
	</select>

	<select id="getCountByDate" resultType="int">
		SELECT COUNT(0) AS cnt
		FROM eeg
		WHERE DATE_FORMAT(create_date, '%Y-%m-%d') <![CDATA[<]]> #{startDate}
	</select>

	<select id="getChartData" resultType="Map">
		SELECT
		COUNT(0) AS cnt,
		DATE_FORMAT(create_date, '%Y-%m-%d') AS createDate
		FROM eeg
		<where>
			<if test="keyset != null and keyset != ''">
				AND eeg_detail LIKE '%' #{keyset} '%'
			</if>
			<if test="startDate != null and startDate != ''">
				AND DATE_FORMAT(create_date, '%Y-%m-%d') >= #{startDate}
			</if>
			<if test="endDate != null and endDate != ''">
				AND DATE_FORMAT(create_date, '%Y-%m-%d') <![CDATA[<=]]> #{endDate}
			</if>
		</where>
		GROUP BY createDate
	</select>

	<update id="updateStatus">
        UPDATE eeg
        SET is_deleted = #{status}
        WHERE id = #{id}
    </update>

	<select id="queryEegListByPatientNumber" resultType="Map">
		SELECT
				b.id,
		   	b.eeg_record AS eegRecord,
		   	b.eeg_detail AS eegDetail,
		   	b.eeg_type AS eegType,
		   	b.have_sleep AS haveSleep,
		   	b.apply_doctor AS applyDoctor,
				DATE_FORMAT(b.gather_date, '%Y-%m-%d') AS gatherDate
		FROM eeg b
		WHERE patient_number = #{patientNumber}
	</select>
</mapper>