<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>报警类型管理</title>

    <link th:href="@{/inspinia/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/inspinia/font-awesome/css/font-awesome.css}" rel="stylesheet">
    <link th:href="@{/inspinia/js/plugins/jquery-ui/jquery-ui.min.css}" rel="stylesheet">
    <link th:href="@{/inspinia/css/plugins/sweetalert/sweetalert.css}" rel="stylesheet">
    <link th:href="@{/inspinia/css/plugins/iCheck/custom.css}" rel="stylesheet">
    <link th:href="@{/inspinia/css/plugins/chosen/bootstrap-chosen.css}" rel="stylesheet">
    <link th:href="@{/inspinia/css/plugins/select2/select2.min.css}" rel="stylesheet">
    <!--<link th:href="@{/inspinia/css/plugins/dataTables/datatables.min.css}" rel="stylesheet">-->
    <link th:href="@{/inspinia/css/animate.css}" rel="stylesheet">
    <link th:href="@{/inspinia/css/plugins/chosen/bootstrap-chosen.css}" rel="stylesheet">
    <link th:href="@{/inspinia/css/plugins/datapicker/datepicker3.css}" rel="stylesheet">
    <link th:href="@{/inspinia/css/plugins/jqGrid/ui.jqgrid.css}" rel="stylesheet">
    <link th:href="@{/inspinia/css/style.css}" rel="stylesheet">

    <link th:href="@{/css/common.css}" href="../css/common.css" rel="stylesheet">
</head>

<body>

<!-- Mainly scripts -->
<script th:src="@{/inspinia/js/jquery-3.1.1.min.js}"></script>
<script th:src="@{/inspinia/js/popper.min.js}"></script>
<script th:src="@{/inspinia/js/bootstrap.js}"></script>
<script th:src="@{/inspinia/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<!-- Custom and plugin javascript -->
<script th:src="@{/inspinia/js/inspinia.js}"></script>
<script th:src="@{/inspinia/js/plugins/pace/pace.min.js}"></script>
<script th:src="@{/inspinia/js/plugins/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/inspinia/js/plugins/sweetalert/sweetalert.min.js}"></script>
<script th:src="@{/inspinia/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
<!-- Ladda -->
<script th:src="@{/inspinia/js/plugins/ladda/spin.min.js}"></script>
<script th:src="@{/inspinia/js/plugins/ladda/ladda.min.js}"></script>
<script th:src="@{/inspinia/js/plugins/ladda/ladda.jquery.min.js}"></script>
<!-- Chosen -->
<script th:src="@{/inspinia/js/plugins/chosen/chosen.jquery.js}"></script>
<!-- Select2 -->
<script th:src="@{/inspinia/js/plugins/select2/select2.full.min.js}"></script>
<!--dataTables-->
<!--<script th:src="@{/inspinia/js/plugins/dataTables/datatables.min.js}"></script>-->
<!--<script th:src="@{/inspinia/js/plugins/dataTables/datatables.bootstrap4.min.js}"></script>-->
<!--<script th:src="@{/inspinia/js/plugins/dataTables/datatables.reload.js}"></script>-->
<!-- jqGrid -->
<script th:src="@{/inspinia/js/plugins/jqGrid/i18n/grid.locale-cn.js}"></script>
<script th:src="@{/inspinia/js/plugins/jqGrid/jquery.jqGrid.min.js}"></script>

<script th:src="@{/js/system/warnType/index.js}"></script>

<shiro:hasPermission name="system:warnType:update">
    <script type="text/javascript">
        var editThisFlg = true;
    </script>
</shiro:hasPermission>

<shiro:hasPermission name="system:warnType:delete">
    <script type="text/javascript">
        var deleteThisFlg = true;
    </script>
</shiro:hasPermission>

<div id="wrapper">

    <!-- include menus.html -->
<!--    <div th:replace="menus::common"></div>-->

    <div id="page-wrapper" class="gray-bg">

        <!-- include head.html -->
        <div th:replace="head::head"></div>

        <div class="wrapper wrapper-content animated fadeInRight ecommerce">

            <div class="ibox-content m-b-sm border-bottom">
                <form onsubmit="return false;" role="form" style="padding: 0px">
                    <div class="row">
                        <div class="col-sm-12">
<!--                            <button type="button" class="btn btn-outline btn-primary btn-tool btn-sm" id="btn_search" onclick="reloadList()">-->
<!--                                <i class="fa fa-search"></i> 筛选-->
<!--                            </button>-->
                            <shiro:hasPermission name="system:warnType:create">
                                <button type="button" class="btn btn-outline btn-primary btn-tool btn-sm" id="btn_new">
                                    <i class="fa fa-plus"></i> 添加
                                </button>
                            </shiro:hasPermission>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="col-form-label" for="alarm">报警类型</label>
                                <input type="text" id="alarm" name="alarm" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="col-form-label" for="alarmType">报警编码</label>
                                <input type="text" id="alarmType" name="alarmType" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="col-form-label" for="level">报警等级</label>
                                <select class="chosen-select" id="level" name="level">
                                    <option value="">请选择</option>
                                    <option value="1">一级报警</option>
                                    <option value="2">二级报警</option>
                                    <option value="3">三级报警</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="col-form-label" for="warnTypeClass">报警类型分类</label>
                                <select class="chosen-select" id="warnTypeClass" name="warnTypeClass">
                                    <option value="">请选择</option>
                                    <option value="0">疲劳驾驶</option>
                                    <option value="1">违规驾驶</option>
                                    <option value="2">危险驾驶</option>
                                    <option value="3">不良驾驶</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-1" style="text-align: left">
                            <label class="col-form-label">&nbsp;</label>
                            <div class="form-group">
                                <button type="button" class="btn btn-outline btn-default" onclick="reload()"><i class="fa fa-search"></i> 筛选
                                </button>
                            </div>
                        </div>

                    </div>
                </form>
                <div class="jqGrid_wrapper">
                    <table id="table_list" ></table>
                    <div id="pager_list"></div>
                </div>
            </div>
        </div>
        <!-- include foot.html -->
<!--        <div th:replace="foot::foot"></div>-->
    </div>
</div>
</body>
</html>