<content th:fragment="diseaseType_dialog">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <form id="mainForm" class="form-horizontal form-update" enctype="multipart/form-data">
                                <div class="form-group row">
                                    <div class="col-sm-2"></div>
                                    <label class="col-sm-3 control-label"><span style="color: red;">*</span>疾病类型：</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" name="diseaseType" id="diseaseType" >
                                    </div>
                                </div>
                                <div class="form-group">

                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-6" style="text-align: center">
                                        <button type="button" data-style="zoom-in"
                                                class="btn btn-w-m btn-primary btn-update-footer" id="btn_save">
                                            保&nbsp;&nbsp;存
                                        </button>&nbsp;&nbsp;
                                        <button type="button" class="btn btn-w-m btn-default btn-update-footer"
                                                id="btn_cancle">
                                            取&nbsp;&nbsp;消
                                        </button>
                                        <div class="col-sm-3"></div>
                                        <input type="hidden" id="hidden_id"/></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
</content>